@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.jpg");
  background-size: 100% 100%;
  overflow: hidden;
  position: relative;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000 url("../img/loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 1000;
  opacity: 0.9;
}

canvas {
  cursor: crosshair
}

header {
  position: absolute;
  width: 100%;
  padding: 5px 30px 5px 30px;
  line-height: 15px;
  background-color: #000;
  color: #FFF;
  overflow: hidden;
  z-index: 2;
}

header div,
header nav {
  width: 50%;
  float: left;
  text-align: right;
}

header ul {
  width: 100%;
  height: 15px;
  margin-bottom: 0;
  list-style: none;
}

header li {
  float: left;
  padding-right: 20px;
}

header li a,
header li a:link {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

header li a:hover,
header li a:active,
header li a:visited {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  opacity: 0.5;
}

#controls {
    display: none;
}

/**
 * jquery ui theme
 */
div.ui-dialog {
  background-color: rgba(0, 0, 0, 0.8);
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0px none;
  padding: 1em 1em;
  background: transparent none repeat scroll 0% 0%;
  overflow: auto;
  min-height: 0 !important;
  text-align: center;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.ui-widget-content {
    color: #222;
}
.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
}
.ui-resizable {
    position: relative;
}
.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    outline: 0px none;
    min-height: 0 !important;
}

.ui-front {
    z-index: 100;
}

.ui-draggable .ui-dialog-titlebar {
    cursor: move;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0.4em 1em;
    position: relative;
}
.ui-widget-header {
    background: rgba(0, 0, 0, 0.90);
    color: rgba(255, 255, 255, 0.85);
    font-weight: bold;
}


.ui-button {
  display: none;
}

.btn {
  color: #FFF !important;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 2px;
  margin-right: 2px;
}

/******************/

#github {
  background-image: url("../img/github-16.png");
  background-size: 16px 16px;
  background-repeat: no-repeat;
  padding-left: 21px;
  height: 16px;
}

main, #game {
  width: 100%;
  height: 100%;
}

#panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 45px 40px 20px 40px;
  color: rgba(255, 255, 255, 0.85);
  box-sizing: border-box;
  z-index: 1;
  max-width: 350px;
  display: none;
}

#panel article {
    overflow: auto;
    height: 100%;
}

article ol {
  margin-left: 10% !important;
}

article button {
    display: inline-block;
    color: #FFF !important;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
    border: 0;
    padding: 6px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
}

h2 {
    font-size: 18px;
}

#notify {
    z-index: 9999;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px 20px 10px 20px;
    margin: 20px;
    font-size: 2em;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    opacity: 0;
    win-width: 100px;
}
